@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;600;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  font-family: "Inter", sans-serif !important;
}

#appnavbar-all{
  background-color: rgb(17,17,17);
  max-width: 100vw;
  height: 5rem;
}

#appnavbar-all .navlink{
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  
}

@media (min-width: 768px){
  #appnavbar-all .navlink{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    
  }
}

#logo-name {
	font-size: 32px;
  font-weight: 800;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}
#appnavbar-searchbox{
   font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 800;
  font-size: 90%;
  color: white;
  background-color: white;
  border-color: 1px solid white;
  border-radius: 2rem;
  height: 2.3rem;
  width: 13rem;
  padding-right: 1rem ;
}

.navlist{

  position: relative;
}

.navbar-toggler{
  border: none;
}

.navbar-toggler:focus{
  box-shadow: none !important;
}

#basic-navbar-nav{
  background-color: rgb(17, 17, 17);
  z-index: 5;
}

#search-text{
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 800;
  font-size: 100%;
  color: white;
  margin: 0;
  padding: 0;
 
}



#search-icon, #search-icon:focus{
  width: 1.7rem;
  height: auto;
  margin: 0;
  padding: 0;
  color: gray;
  box-shadow: none !important;
  border: none !important;
  border-radius: 2rem;
}

#search-box, #search-box:focus{
  background-color: white;
  border: none !important;
  height: 85%;
  margin-bottom: 0;
  margin-top: 1.5%;
  margin-left: 1rem;
  box-shadow: none !important;
}

.container{
  padding: 0;
}

.navbar {
  position: sticky;
  top: 0;
  transition: top 0.3s ease-in-out;
}

.navbar.hidden {
  top: -100px;
}
/*.w-25{
	height: 30rem;
}*/

#carousel{
	background-color: rgb(221,221,221);
  width: 100%;

}

.carousel-image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: center;
  height: 50rem;
}

.carousel-img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.carousel-img:hover {
  transform: scale(1.1); /* Increase the scale value for a stronger pop-out effect */
}

.carouselImageOvelaybox:hover {
  transform: scale(1.1); /* Increase the scale value for a stronger pop-out effect */
}
.imageWrapper{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.carouselImageOvelaybox {
  position: relative;
  overflow: hidden;

  transition: transform 0.3s ease;
  
}

.carouselImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.carouselImageOvelaybox:hover .carouselImage {
  transform: scale(1.1);
}

.carouselOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Marigold color with 80% opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.carouselImageOvelaybox:hover .carouselOverlay {
  opacity: 1;
}

.carouselOverlayText {
  color: #ffffff; /* White text color */
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  width: 50rem;
}

.carouselOverlayText a {
  text-decoration: none;
  color: inherit;
}

.carouselOverlayText a:hover {
  color: inherit;
}

/**********************CAROUSEL (end)************************/

#navText, h1{
	font-family: 'Wix Madefor Display', serif;
}

#category-text{
	font-style: italic;
}
/***********************PRODUCT-BANNER (start)************************************/

.banner-products-head {
  width: 100%;
  height: 30rem;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  background-color: rgb(17, 17, 17);;

  overflow: hidden;
  position: relative;
  padding: 0;
  margin:0;

}



.products-banner-img {
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
  object-fit: cover;
  object-position: center bottom;
  transition: transform 0.3s ease;

}

.products-banner-img:hover{
   transform: scale(1.1);
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-family:'Wix Madefor Display', sans-serif;
 
}

.banner-text h1{
  font-family:'Wix Madefor Display', sans-serif;
  font-size: 22px;
  font-weight: 800;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
/*  background-color: rgba(0, 0, 0, 0.5); /* Set the desired overlay color */
  }

.banner-text h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.banner-text p {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

@media (min-width: 768px){
  .banner-text p {
    font-family: 'Work Sans', sans-serif;
    font-size: 120%;
    font-weight: 300;
  }

  .banner-text h1{
    font-family:'Wix Madefor Display', sans-serif;
    font-size: 4rem;
    font-weight: 800;
  }
} 

/*********************PRODUCT-BANNER (end)**************************************/


/***********************PRODUCT (start)************************************/

#products-all{
  /* margin-right: 5rem ;
  margin-left: 10rem; */
}

@media (min-width: 1280px){
  #products-all{
    margin-right: 5rem ;
    margin-left: 10rem;
  }
}

#product-cards{
	width: 190px;
	height: 220px;
	color: white;
	border-color: white;
	background-color: rgb(240,239,234);
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);  */

	
}
.cardImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
 
  position: relative;
  height: 29rem; /* Adjust the height as needed */
  boxShadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
}
.card-image{
	object-fit: cover;
	width: 100%;
	height: 100%;
  boxShadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border: 1.5px solid gray; 
}

#product-title{
  font-size: 1rem;
}

.prod-deet{
  font-size: 90%;
}

#details-btn{
  color:white;
  font-style: italic;
  text-decoration: underline;
}

#category-box{
  background-color: #F6A6A5;
  border: 1px solid #F6A6A5;
  border-radius: 1rem;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 4%;
  padding-bottom: 4%;
}

#products-newRelease{
  font-family: 'Work Sans', sans-serif;
  font-size: 3rem;
  font-weight: 800;
  font-style: italic;

}

/*********************PRODUCT(end)**************************************/

#image-product-view{
	width: 400px;
}
#productview-text{
	border-color: rgb(230,241,221);
	background-color: rgb(230,241,221);
	
}

#productview-containter{
	background-color: rgb(230,241,221);
}

.card-overlay .rating {
  margin-bottom: 5px;
}
#prodView-name{
	font-size: 5rem;
}



/************ACCOUNT ICON TOGGLE*******/
.dropdown-toggle {
  background-color: pink;
  border: none;
  color: pink;
  font-size: 1.5rem;
  cursor: pointer;
  /*padding: 0;
  width: fit-content !important;*/
}
#account-dropdown::before{
	display:flex;
	align-items: end;
	justify-content: center;
  color: pink;
  background-color: pink;
  /*padding: 0;
  width: fit-content !important;*/


}
#account-dropdown::after{
	display: none;
	color: pink;
	background-color: pink;
	/*padding: 0;
  width: fit-content !important;*/
}
#account-icon{
	color: white;
	font-size: 1.3rem;
  background-color: #111111;
  /* margin-left: 1rem; */
	padding: 0;
}
#account-dropdown-head{
	color: #111111;
	background-color: #111111;
	padding: 0;

}

.dropdown-menu {
  
  background-color: pink;
  padding: 0;
/*  width: fit-content !important;*/
  --bs-dropdown-min-width: 6.6rem !important;
  
}
#account-dropdown-menu{
/*  background-color: red;*/
  padding: 0;
 /* width: 10% !important;
  margin: 0 !important;
  border: none;*/
  
  
  
}

.dropdown-item {
  color: pink;
  background-color: pink;
  /*padding: 0;
  width: 50% !important;*/
  font-family: 'Wix Madefor Display', sans-serif !important;
  font-weight: 400 !important;
  font-size: 80% !important;
  
}

.dropdown-item:hover {
  background-color: pink;
  /*padding: 0;
  width: fit-content !important;*/
}




#allProd-theadText{
	color: black;
}

#allProd-theadText th{
	height: 1rem;
}

.input-with-image {
  
}

.image-preview {
 
  

/*  transform: translateY(-50%);*/
  width: 20rem;
  

}

/*********CART CARD************/

#cart-icon{
  color: white;
  font-size: 1.3rem;
  background-color: #111111;
  margin-right: 10%;
  padding:0;
  
}

#cart-btn{
  background-color: transparent;
  color: transparent;
  border: none;
  padding: 0;
  margin: 0;

}

@media (min-width: 992px){
  #cart-btn{
    background-color: transparent;
    color: transparent;
    border: none;
    padding: 0;
    margin: 0 1rem 0 0;
  
  }
}

#cart-product-cards{
  border: none;
  font-size: 90%;
}

#cart-image-product{
  width: 6rem;
}

#cart-heading{
  font-size: 5rem;
}

/*********HIGHLIGHTS CARD************/


.image-container {
  position: relative;
  border: 2px solid #e5e5e5; /* Light gray */
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.image {
  width: 100%;
  height: auto;
}

.interview-box {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #ff5a5f; /* Coral red */
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 4px;
}



.cardTitle {
  font-size: 1.2rem;
  font-weight: 700 !important;
  color: #333;
}

.cardText {
  color: #555;
  margin-bottom: 1rem;
}

.readMore {
  color: #888;
  font-size: 0.9rem;
  text-decoration: none;
}

.cardImageContainer {
  position: relative;
  overflow: hidden;
  border: 0px solid #E6E8EC;
  border-radius: 10px;
  margin-top: 1rem;
}

.cardImage {
  width: auto !important;
  height: 100%;
  transition: transform 0.3s ease;
}

@media (max-width: 991.98px) {
  .cardImage {
    width: 120% !important;
    height: auto;
    
  }
}

.cardImage:hover {
  transform: scale(1.2); /* Increase the scale value for a stronger pop-out effect */
}

.cardOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #5ED608;
  padding: 0.5rem 1rem;

}

.cardOverlayText {
  color: dark green;
  font-weight: bold;
  font-size: 1rem;
}
#card-title2{
  background-color: cyan;
}

#card-title3{
  background-color: #7A12E2;
}


/******************ORDER PRODUCT CARDS*************/



#order-product-cards{
  border: none;
  font-size: 90%;
  background-color: transparent;
  margin-top: 5% !important;
  margin-bottom: 5% !important;

}

#order-image-product{
  width: 3rem;
}

#orderview-form-text{
  font-size: 85%;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
}

.border-bot-none{
  border-bottom: transparent;

}
.text-bold{
  font-weight: bold;
  font-size: 1.3rem;
}
#cont-shop-btn{
  text-decoration: none;
}

/*************************REGISTER PAGE*****************************/

#register-container{
 
  overflow-y: hidden;
  max-height: 100vh;
}

.translucent-form {
  backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
  background-color: rgba(255, 255, 255, 0.2); /* Adjust the transparency as needed */
  height: auto;
 padding-bottom: 0 !important;
 margin-bottom: 0 !important;
/* border-radius: 30px;*/
 width: 2rem;

}

.background-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://purveyr.com/wp-content/uploads/2020/11/Purveyr-Fake-Zine-107-uai-2064x1376.jpg");
  background-size: cover;
  z-index: -1;
  margin: 0;
  padding: 0;

}

.form-container {
  position: relative;
  z-index: 1;
}

#register-title{
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Wix Madefor Display', sans-serif !important;
}

#register-welcome{
  font-size: 4rem;
  font-family: 'Wix Madefor Display', sans-serif !important;
  font-weight: 800;

}

#register-text{
  font-size: 1.3rem;
}

#register-subtext{
  font-size: 1.3rem;
  font-style: italic;
}

/********LOGIN****************/

.background-image-login {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://scontent.fmnl2-2.fna.fbcdn.net/v/t1.6435-9/155860959_2964620253824931_663126706370178642_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=a26aad&_nc_ohc=onHSvN9mF38AX-WQk60&_nc_ht=scontent.fmnl2-2.fna&oh=00_AfDsDeOpu0P1polq_wRArLxpLGwMdYnPfdLzEYp9gjPuPw&oe=649B2275");
  background-size: cover;
  z-index: -1;
  margin: 0;
  padding: 0;

}

.translucent-form-login {
  backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the transparency as needed */
  height: auto;
 padding-bottom: 0 !important;
 margin-bottom: 0 !important;
 border-radius: 1rem;
 width: 2rem;

}

/* Footer */

.footer-name{
  font-size: 24px;
	font-weight: 800;
  color: white;
}

.socmed {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}

.socmed-icon{
  padding: 0 4rem;
}

.socmed-div{
  display: flex;

}

.footer-text{
  text-wrap: wrap;
  font-size: 10px;
  font-weight: 300;
}

@media (min-width: 992px){

  .footer-name{
    font-size: 32px;
    font-weight: 800;
    color: white;
  }

  .footer-text{
    text-wrap: wrap;
    font-size: 14px;
    font-weight: 300;
  }
}